<div class="content-container default-content-container">

  <span class="txt-highl">Your information:</span><br><hr>

  Name: <%= user['fname'] %><br>
  Last name: <%= user['lname'] %><br>
  Email: <%= user['email'] %><br>
  <br>
  <%= link_to 'Edit', url_for(:controller => :user, :action => :edit) %><br>
  <%= link_to 'Delete', url_for(:controller => :user, :action => :destroy) %>

</div>